<section class="container">
  <h3 class="drink-name">{{drink.drink_name}}</h3>
  {{!-- Should I make a new drink partial? to separate food and drinks? --}}
  <p> {{drink.description}} </p>
  <p> {{drink.ingredients}} </p>
  <p> Does this have alcohol? {{drink.hasAlcohol}} </p>
  <section class="flex-row justify-center">
  </section>
</section>