<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

      <link rel="stylesheet" type="text/css" href="/public/css/style.css">
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        <nav class="nav-extended">
            <div class="nav-wrapper">
              <header class="brand-logo "><img src='https://media.giphy.com/media/26Fxy3Iz1ari8oytO/giphy.gif' width="50px" height="50px">Welcome to PlanIt </header>
              <!-- for mobile use -->
              <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
              <ul class="right hide-on-med-and-down">
                <li><a class="waves-effect waves-light btn" href="/">Home</a></li>
                <li><a class="waves-effect waves-light btn" href="#">Login</a></li>
                <!-- {{#if loggedIn}}
                <button id="logout" class="btn-no-style">Logout</button>
                {{else}}
                <a href="/login">Login</a>
                {{/if}} -->
                <li><a class="waves-effect waves-light btn">Contact</a></li>
              </ul>
            </div>
            <div class="nav-content">
                <ul class="tabs tabs-transparent">
                  <li class="tab"><a href="#">Themes</a></li>
                  <li class="tab"><a href="#">Activities</a></li>
                  <li class="tab"><a href="#">Food/Drinks</a></li>
                  <li class="tab"><a href="./musicList.html">Music</a></li>
                  <li class="tab"><a href="#">Decoration</a></li>
                </ul>
              </div>  
        </nav>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="#">Home</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <main>
            <!-- main page Handlebars-->
           <!-- {{!-- <div class='change'>
            {{{body}}}
            </div>  --}} -->
            <form>
                <div> 
                    <label for="title">Name of your party:</label>
                    <input type="text" id="title" name="title">
                    <label for="date">Date of your party:</label>
                    <input type="date" id="date" name="date">
                </div>
                <div>
                    <label for="description">Description:</label>
                    <textarea id="partydescrip"></textarea>
                    <label for="description">Notes:</label>
                    <textarea id="partynotes"></textarea>
                </div>
                <div> 
                    <label for="guestsNum">Number of Guests attending:</label>
                    <input type="number" id="guestsNum" name="guestsNum">
                </div>

                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                  <i class="material-icons right">send</i>
                </button>

                <a class="waves-effect waves-light btn">Cancel</a>
                
              
                <!-- add materialize cards -->
                <div class="container"> 
                    <h2>What would you like to add?</h2>
                    <!-- Make these a handlebar? -->
                    <div class="row" id="food">
                      <div class="col s3 m6">
                        <div class="card">
                          <div class="card-image">
                            <img src="images/sample-1.jpg">
                            <span class="card-title">Food</span>
                            <a href="" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                          </div>
                          <div class="card-content">
                            <p></p>
                          </div>
                        </div>
                      </div>
                    </div>  
                    <div class="row" id="activities">
                      <div class="col s3 m6">
                        <div class="card">
                          <div class="card-image">
                            <img src="images/sample-1.jpg">
                            <span class="card-title">Activities</span>
                            <a href="" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                          </div>
                          <div class="card-content">
                            <p></p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row" id="music">
                      <div class="col s3 m6">
                        <div class="card">
                          <div class="card-image">
                            <img src="images/sample-1.jpg">
                            <span class="card-title">Music</span>
                            <a href="/musiclist" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                          </div>
                          <div class="card-content">
                            <p></p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row" id="decorations">
                      <div class="col s3 m6">
                        <div class="card">
                          <div class="card-image">
                            <img src="images/sample-1.jpg">
                            <span class="card-title">Decorations</span>
                            <a href="" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                          </div>
                          <div class="card-content">
                            <p></p>
                          </div>
                        </div>
                      </div>
                    </div>        
                </div>
            </form>




        </main>
               

      <!--JavaScript at end of body for optimized loading-->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
  </html>