<main>
    <h5 class="center">🎉 Welcome Back to your Parties! Here is what you have listed so far! 🎉</h5>
    <h6 id="time">Today's date: {{get_date}}</h6>
    {{!--{{format_date date}} add date to side for static dates--}}
    <div class="row">
        <div class="col s4 m4">
            <div class="card">
                <div class="card-image">
                    <img src="./image/Party 1.jpeg">
                    <span class="card-title">Kelsey's Birthday</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient
                        because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <!--If we click here it should take us to a page and or remove the it -->
                    <a href="#">Edit</a>
                    <a href="#">Delete</a>
                </div>
            </div>
        </div>
        <div class="col s4 m4">
            <div class="card">
                <div class="card-image">
                    <img src="./image/Party 2.jpeg">
                    <span class="card-title">New Year's</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient
                        because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <!--If we click here it should take us to a page and or remove the it -->
                    <a href="#">Edit</a>
                    <a href="#">Delete</a>
                </div>
            </div>
        </div>
        <div class="col s4 m4">
            <div class="card">
                <div class="card-image">
                    <img src="./image/Party 3.jpg">
                    <span class="card-title">Summer Fun</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient
                        because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <!--If we click here it should take us to a page and or remove the it -->
                    <a href="#">Edit</a>
                    <a href="#">Delete</a>
                </div>
            </div>
        </div>
        <div class="col s4 m4">
            <div class="card">
                <div class="card-image">
                    <img src="./image/Party 4.jpg">
                    <span class="card-title">Movie Night</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient
                        because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <!--If we click here it should take us to a page and or remove the it -->
                    <a href="#">Edit</a>
                    <a href="#">Delete</a>
                </div>
            </div>
        </div>
        <div class="col s4 m4">
            <div class="card">
                <div class="card-image">
                    <img src="./image/Party 5.jpeg">
                    <span class="card-title">Friendsgiving</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient
                        because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <!--If we click here it should take us to a page and or remove the it -->
                    <a href="#">Edit</a>
                    <a href="#">Delete</a>
                </div>
            </div>
        </div>
        <div class="col s4 m4">
            <div class="card-panel">
                <span class="black-text"><h5>add another event</h1></span>
                <a class=" right btn-floating btn-large waves-effect waves-light red" href="/party-form"><i class="material-icons">add</i></a>
            </div>
        </div>
    </div>
</main>

<!--JavaScript at end of body for optimized loading-->
<script src="./public/js/dashboard.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

