<nav class="nav-extended">
    <div class="nav-wrapper">
        <header class="brand-logo "><img src='https://media.giphy.com/media/26Fxy3Iz1ari8oytO/giphy.gif' width="50px" height="50px">Welcome to PlanIt </header>
        <!-- for mobile use -->
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
        <li><a class="waves-effect waves-light btn" href="/">Home</a></li>
        {{!-- IF THE USER IS LOGGED IN, LOGOUT BUTTON WILL APPEAR --}}
        {{#if logged_in}}
        <button id="logout" class="waves-effect waves-light btn">Logout</button>
        <button id="dashboard" class="waves-effect waves-light btn">Dashboard</button>
        {{else}}
        {{!-- IF THE USER IS LOGGED OUT THE LOGIN BUTTON WILL APPEAR --}}
        <li><a class="waves-effect waves-light btn" href="/login">Login</a></li>
        {{/if}}
        </ul>
    </div>
</nav>
<main>
    <p class="welcome">🎉 Welcome Back to your Parties! 🎉</p>
    <div class="row">
        {{!-- Dummy Rows --}}
        <div class="col s4 m4">
            <div class="card">
                <div class="card-image">
                    <img src="./image/Party 2.jpeg">
                    <span class="card-title">New Year's</span>

                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient
                        because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <!--If we click here it should take us to a page and or remove the it -->

                    <a href="#">Delete</a>
                </div>
            </div>
        </div>
        <div class="col s4 m4">
            <div class="card">
                <div class="card-image">
                    <img src="./image/Party 3.jpg">
                    <span class="card-title">Summer Fun</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient
                        because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <!--If we click here it should take us to a page and or remove the it -->

                    <a href="#">Delete</a>
                </div>
            </div>
        </div>
        <div class="col s4 m4">
            <div class="card">
                <div class="card-image">
                    <img src="./image/Party 4.jpg">
                    <span class="card-title">Movie Night</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient
                        because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <!--If we click here it should take us to a page and or remove the it -->
                    <a href="#">Delete</a>
                </div>
            </div>
        </div>
        <div class="col s4 m4">
            <div class="card">
                <div class="card-image">
                    <img src="./image/Party 5.jpeg">
                    <span class="card-title">Friendsgiving</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient
                        because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <!--If we click here it should take us to a page and or remove the it -->
                    <a href="#">Delete</a>
                </div>
            </div>
        </div>
    </div>
    <div class= "row">
    {{!-- Adding New Parties --}}
        {{#if parties.length}}
        {{#each parties as |party| }} 
            <div class="col S4 m4">
            <div class="card">
                <div class="card-image">
                    <img src="./image/Party 5.jpeg">
                    <span class="card-title">{{party.name}}</span>
                </div>
                <div class="card-content">
                    {{!-- <p>{{partydate}}</p> --}}
                    <p>{{party.description}}</p>
                </div>
                <div class="card-action">
                    <a href="#">Delete</a>
                </div>
            </div> 
            </div> 
        {{/each}}
        {{/if}}
    </div>
    {{!-- Add Party Form Button --}}
    </div> 
    <div class="col s4 m4">
        <div class="card-panel">
            <span class="black-text">
                <h5>add another event</h1>
            </span>
            <a class=" right btn-floating btn-large waves-effect waves-light red" href="/party-form"><i
                    class="material-icons">add</i></a>
        </div>
    </div>
    <script src="js/confetti.js"></script>
    <script>
        const start = () => {
            setTimeout(function () {
                confetti.start();
            }, 1000)
        }
        const stop = () => {

            setTimeout(function () {
                confetti.stop();
            }, 4000)
        }
        start();
        stop();
        console.log(working)
    </script>
</main>

