<nav class="nav-extended">
    <div class="nav-wrapper">
        <header class="brand-logo center"><img src='https://media.giphy.com/media/26Fxy3Iz1ari8oytO/giphy.gif' width="50px"
                height="50px">Welcome to PlanIt </header>
        <!-- for mobile use -->
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            {{!-- IF THE USER IS LOGGED IN, LOGOUT BUTTON WILL APPEAR --}}
            {{#if logged_in}}
            <button id="dashboard" class="waves-effect waves-light btn">Dashboard</button>
            <button id="logout" class="waves-effect waves-light btn">Logout</button>
            {{else}}
            {{!-- IF THE USER IS LOGGED OUT THE LOGIN BUTTON WILL APPEAR --}}
            <li><a class="waves-effect waves-light btn" href="/login">Login</a></li>
            {{/if}}
        </ul>
    </div>
    <div class="nav-content">
        <ul class="tabs tabs-transparent">
            <li class="tab"><a href="#activities">Activities</a></li>
            <li class="tab"><a href="#food">Food/Drinks</a></li>
            <li class="tab"><a href="#music">Music</a></li>
            <li class="tab"><a href="#decoration">Decoration</a></li>
        </ul>
    </div>
</nav>
<ul class="sidenav" id="mobile-demo">
    {{!-- LINK WILL TAKE USER TO HOME-PAGE --}}
    <li><a href="/">Home</a></li>
    {{!-- LINK WILL TAKE USER TO LOGIN/SIGNUP PAGE --}}
    <li><a href="/login">Login</a></li>
    <li><a href="#">Contact</a></li>
</ul>
<h2 class='center white-text'>Create the Party Of Your Dreams</h2>
<div class='home-page center'>
    <img src='./image/homepageParty.gif' width='100%' height='75%'>
</div> <br><br>
<h5 class='center white-text'>We are here to help!<br>Create and store all the parties all in one place!</h5>
<div class= "container3 teal lighten-2 ">
<div class="row center">
    {{!-- Decorations--}}
    <div class="col s6" id ="decoration">
        <img src = "./image/balloons.png" width='70%' height='45%'>
        <h3 class ="center promo-caption" id ="decoration">Decoration</h3>
        <p class ="light">We have them all for you! Our Database contains any and all elements to make the day awesome. From the type, all the way to the actual amount!</p>
    </div>
    {{!-- Food/Drinks --}}
    <div class="col s6" id ="food">
        <img src = "./image/cheers.png" width='70%' height='45%'>
        <h3 class ="center promo-caption" id ="food-drinks">Food/Drinks</h3>
        <p class ="light">Need food and drink idea? We have you covered! Our planning application allowes you to browse through dozens of elements. This includes everything from dishes that included nuts to those that don't or for the drink lovers, from alcoholic to non-alcoholic beverages!</p>
    </div>
</div>
<div class="row center">
    {{!-- Music--}}
    <div class="col s6" id ="music">
        <img src = "./image/musical-note.png" width='70%' height='45%'>
        <h3 class ="center promo-caption" id ="music">Music</h3>
        <p class ="light">To lighten up the mood, we also provide a list of our theme songs to get your guests into the party spirit! This includes an array of music from Birthday to Holiday music!</p>
    </div>
    {{!-- Activities --}}
    <div class="col s6" id ="activites">
        <img src = "./image/social.png" width='70%' height='45%'>
        <h3 class ="center promo-caption" id ="activities">Activities</h3>
        <p class ="light">Looking for something to do? We got you! We include games, movies and activity to match the theme of your party.</p>
    </div>
</div>
</div>          
