<h2 class='center'>Create the Party Of Your Dreams</h2>
<p class='center'>We are here to help you create your own party with all the materials you may need!</p>
<div class='home-page'>
    <img src='https://media.giphy.com/media/l4FGKa1f18gAcWGEU/giphy.gif' width='100%' height='100%' >   
</div>
<div class="container" id = "homeTags">
</div>