<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Music Player</title>
  <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" 
    crossorigin="anonymous"
    />
  <link rel="stylesheet" type="text/css" href="../public/css/style.css">
</head>

<body>
  <!-- <header>
      <h1><img src='../public/src-music/musicListGeneratorPage/200.gif'>Welcome! Generate Your Own Music Playlist for The Party</h1>
  </header> -->
  <canvas id="canvas"></canvas>
  
  <header>
      <h1><img src='../public/src-music/musicListGeneratorPage/200.gif'>  Welcome! Generate Your Own Music Playlist for The Party</h1>
  </header> 

  <main>
    <div class='my-music-list d-inline-flex justify-content-around col-5'>
      <div>
        <h2>My Music List</h2>
        <br>
        <ul>
          <li>
            First Song by XXX
          </li>
          <li>
            Second Song by XXX
          </li>
          <li>
            Third Song by XXX
          </li>
        </ul>
        <a href='./musicPlayer.html'><button type="button-reset" class="btn btn-secondary justify-content-between">Party Time !</button></a>
      </div>
    </div>

    <div class='music-choices d-inline-flex justify-content-around col-5'>
      <div>
        <h2>Add Music From Here</h2>
        <br>
        <ul class="list-group d-block">
          <li class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
            A Little Love
          </li>
          <li class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
            All I Want For Christmas Is You
          </li>
          <li class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
            Mistletoe
          </li>
          <li class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
            Rockin Around The Christmas Tree
          </li>
          <li class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
            Santa Tell Me
          </li> 
        </ul>
        <br>
        <div>
          <button type="button-reset" class="btn btn-secondary justify-content-between">Reset</button>
          <button type="button-save" class="btn btn-secondary justify-content-between">Save</button> 
          <button type="button-click-all" class="btn btn-secondary justify-content-between">Click All</button>
        </div>  
      </div>
    </div>  
  </main>
  <br>
  <br>  
  
  <script src="../public/js/snowbackground.js"></script> 
  
</body>



</html>