
    <main>
        <div class="container1">
            <div class="row ">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="Placeholder" id="party-name" type="text" class="validate">
                            <label for="name">Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="Placeholder" id="party-description" type="text" class="validate">
                            <label for="description">Description</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input placeholder="Placeholder" id="party-date" type="date" class="validate">
                            <label for="date">Date</label>
                        </div>
                        <div class="input-field col s6">
                            <input placeholder="Placeholder" id="party-number" type="number" class="validate">
                            <label for="number">Number of Guests</label>
                        </div>
                    </div>
                    <h6 class="row center" >Would you like to add any of the following items?</h6>
                    <div class= "row">
                        <!-- Decorations -->
                        <div class="col s6 m6">
                            <div class="card blue-grey darken-1">
                            <div class="card-content white-text">
                              <img id="card-imgs" src="image/balloons.png" alt="Decorations">
                                <span class="card-title">Decorations</span>
                                <!-- the Decoration list added here -->
                                <ul id="current-decoration-list" style='color: aliceblue; font-size: larger;'></ul>
                            </div>
                            <div class="card-action">
                                <a href="#"><!-- Button trigger modal -->
                                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#decorationExampleModal">
                                    Add Decoration
                                  </button>
                                  <button class="waves-effect waves-light btn" id="saveBtnNo1">Save</button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="decorationExampleModal" tabindex="-1" role="dialog" aria-labelledby="decorationExampleModalLabel" aria-hidden="true">
                                      <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h5 class="modal-title" id="decorationExampleModalLabel">Decoration</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                          </div>
                                          <div class="modal-body">
                                            <div class='container1'>
                                              <ul class="category-list collapsible expandable col s12 m12">
                                                  <li class='active'>
                                                      <!-- name of the category -->
                                                      <div class="collapsible-header teal lighten-2" style='color: aliceblue; font-size: larger;'><i class="material-icons">cake</i>Decorations</div>
                                                      <div class="collapsible-body">
                                                          <form action="#" style='text-align: left;' >
                                                              <p>
                                                              <label>
                                                                  <!-- change the value to the name of each item & don't remove <span> tag -->
                                                                  <input type="checkbox" class="checkbox-decoration" value='Party Invitations'/>
                                                                  <span style=' font-size: large;'>Party Invitations</span>
                                                                  <p>$10.99</p>
                                                              </label>
                                                              </p>
                                                          </form>
                                                      </div>
                                                  </li>
                                                  
                                              </ul>  
                                            </div>

                                          </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal" id='addDecorationBtn'>Add</button>
                                            <button type="button" class="btn btn-primary" id='clear-all-decoration'>Clear</button>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div></a>
                            </div>
                            </div>
                        </div>
                        <!-- Music -->
                        <div class="col s6 m6">
                            <div class="card blue-grey darken-1">
                              <div class="card-content white-text">
                                <img id="card-imgs" src="image/musical-note.png" alt="Decorations">
                                  <span class="card-title">Music</span>
                                    <!-- The current Added Items will show here -->
                                    <ul id="current-music-list" style='color: aliceblue; font-size: larger;'>
                                      <!-- the music list added here -->
                                    </ul>
                                    <!-- origin save button, can be: <button class="waves-effect waves-light btn" id="saveBtn">Save</button>      -->
                              </div>
                            
                              <div class="card-action">
                                  <a href="#"><!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#musicExampleModal">
                                      Add Music
                                    </button>
                                    <button class="waves-effect waves-light btn" id="saveBtnNo2">Save</button>
                                      <!-- Modal -->
                                      <div class="modal fade" id="musicExampleModal" tabindex="-1" role="dialog" aria-labelledby="musicExampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg" role="document">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h5 class="modal-title" id="musicExampleModalLabel">Music</h5>
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                                            </div>

                                            <div class="modal-body">
                                              <!-- music list -->
                                              <div class='container'>
                                                <ul class="category-list collapsible expandable col s12 m12">
                                                    <li class='active'>
                                                        <!-- name of the category -->
                                                        <div class="collapsible-header teal lighten-2" style='color: aliceblue; font-size: larger;'><i class="material-icons">cake</i>Birthday</div>
                                                        <div class="collapsible-body">
                                                            <form action="#" style='text-align: left;' >
                                                                <p>
                                                                <label>
                                                                    <!-- change the value to the name of each item & don't remove <span> tag -->
                                                                    <input type="checkbox" class="checkbox-music" value='Happy Birthday To You (English ver.)'/>
                                                                    <span style=' font-size: large;'>Happy Birthday To You (English ver.)</span>
                                                                </label>
                                                                </p>
                                                            </form>
                                                        </div>
                                                    </li>
                                                    <li class='active'>
                                                        <div class="collapsible-header teal lighten-2" style='color: aliceblue; font-size: larger;'><i class="material-icons">ac_unit</i>Christmas</div>
                                                        <div class="collapsible-body">
                                                            <form action="#" style='text-align: left;'>
                                                                <p>
                                                                <label>
                                                                    <input type="checkbox" class="checkbox-music" value='All I Want For Christmas Is You'/>
                                                                    <span style='font-size: large;'>All I Want For Christmas Is You</span>
                                                                </label>
                                                                </p>
                                                                <p>
                                                                    <label>
                                                                    <input type="checkbox" class="checkbox-music" value='Mistletoe'/>
                                                                    <span style='font-size: large;'>Mistletoe</span>
                                                                    </label>
                                                                </p>
                                                            </form>
                                                        </div>
                                                    </li>
                                                    <li class='active'>
                                                        <div class="collapsible-header teal lighten-2" style='color: aliceblue; font-size: larger;'><i class="material-icons">whatshot</i>NightClub</div>
                                                        <div class="collapsible-body">
                                                            <form action="#" style='text-align: left;'>
                                                                <p>
                                                                <label>
                                                                    <input type="checkbox" class="checkbox-music" value='Peaches ft. Daniel Caesar, Giveon'/>
                                                                    <span style='font-size: large;'>Peaches ft. Daniel Caesar, Giveon</span>
                                                                </label>
                                                                </p>
                                                                <p>
                                                                    <label>
                                                                    <input type="checkbox" class="checkbox-music" value='Imagine'/>
                                                                    <span style='font-size: large;'>Imagine</span>
                                                                    </label>
                                                                </p>
                                                            </form>
                                                        </div>
                                                    </li>
                                                </ul>  
                                              </div>

                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary" data-dismiss="modal" id='addMusicBtn'>Add</button>
                                              <button type="button" class="btn btn-primary" id='clear-all-music'>Clear</button>
                                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                          </div>
                                        </div>
                                      </div></a>
                              </div>

                            </div>
                        </div>
                        <!-- Food/Drinks Card -->
                        <div class="col s6 m6">
                          <div class="card blue-grey darken-1">
                            <div class="card-content white-text">
                              <img id="card-imgs" src="image/cheers.png" alt="wine-cheers">
                                <span class="card-title">Food & Drinks</span>
                                  <!-- The current Added Items will show here -->
                                  <ul id="current-fd-list" style='color: aliceblue; font-size: larger;'>
                                    <!-- the food&drinks list added here -->
                                  </ul>
                            </div>
                          
                            <div class="card-action">
                                <a href="#"><!-- Button trigger modal -->
                                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#foodAndDrinksExampleModal">
                                    Add Food & Drinks
                                  </button>
                                  <button class="waves-effect waves-light btn" id="saveBtnNo3">Save</button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="foodAndDrinksExampleModal" tabindex="-1" role="dialog" aria-labelledby="foodAndDrinksExampleModalLabel" aria-hidden="true">
                                      <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h5 class="modal-title" id="foodAndDrinksExampleModalLabel">Food & Drinks</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                          </div>

                                          <div class="modal-body">
                                            <!-- Food&Drinks list -->
                                            <div class='container'>
                                              <ul class="category-list collapsible expandable col s12 m12">
                                                  <li class='active'>
                                                      <!-- name of the category -->
                                                      <div class="collapsible-header teal lighten-2" style='color: aliceblue; font-size: larger;'><i class="material-icons">cake</i>Food</div>
                                                      <div class="collapsible-body">
                                                          <form action="#" style='text-align: left;' >
                                                              <p>
                                                              <label>
                                                                  <!-- change the value to the name of each item & don't remove <span> tag -->
                                                                  <input type="checkbox" class="checkbox-fd" value='Gingerbread Cookies'/>
                                                                  <span style=' font-size: large;'>Gingerbread Cookies</span>
                                                                  <p>Delicious cookies to bring warmth to your holiday season!</p>
                                                                  <p>No Nuts</p>
                                                              </label>
                                                              </p>
                                                          </form>
                                                      </div>
                                                  </li>
                                                  <li class='active'>
                                                      <div class="collapsible-header teal lighten-2" style='color: aliceblue; font-size: larger;'><i class="material-icons">ac_unit</i>Drinks</div>
                                                      <div class="collapsible-body">
                                                          <form action="#" style='text-align: left;'>
                                                              <p>
                                                              <label>
                                                                  <input type="checkbox" class="checkbox-fd" value='Mojito'/>
                                                                  <span style='font-size: large;'>Mojito</span>
                                                                  <p>Fresh mint, white rum, simple syrup, lime juice, club soda or sparkling water, ice</p>
                                                                  <p>Has Alcohol</p>
                                                              </label>
                                                              </p>
                                                              <p>
                                                                  <label>
                                                                  <input type="checkbox" class="checkbox-fd" value='Hot Chocolate'/>
                                                                  <span style='font-size: large;'>Hot Chocolate</span>
                                                                  <p>1 Swiss Miss hot chocolate packet, milk or water</p>
                                                                  <p>Non-alcohol</p>
                                                                  </label>
                                                              </p>
                                                          </form>
                                                      </div>
                                                  </li>
                                        
                                              </ul>  
                                            </div>

                                          </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal" id='addFdBtn'>Add</button>
                                            <button type="button" class="btn btn-primary" id='clear-all-fd'>Clear</button>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div></a>
                            </div>

                          </div>
                      </div>
                        <!-- Activities Card -->
                        <div class="col s6 m6">
                          <div class="card blue-grey darken-1">
                            <div class="card-content white-text">
                              <img id="card-imgs" src="image/social.png" alt="social">
                                <span class="card-title">Activities</span>
                                  <!-- The current Added Items will show here -->
                                  <ul id="current-activity-list" style='color: aliceblue; font-size: larger;'>
                                    <!-- the activities list added here -->
                                  </ul>
                            </div>
                          
                            <div class="card-action">
                                <a href="#"><!-- Button trigger modal -->
                                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#activitiesExampleModal">
                                    Add Activities
                                  </button>
                                  <button class="waves-effect waves-light btn" id="saveBtnNo4">Save</button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="activitiesExampleModal" tabindex="-1" role="dialog" aria-labelledby="activitiesExampleModalLabel" aria-hidden="true">
                                      <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h5 class="modal-title" id="activitiesExampleModalLabel">Activities</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                          </div>

                                          <div class="modal-body">
                                            <!-- activities list -->
                                            <div class='container'>
                                              <ul class="category-list collapsible expandable col s12 m12">
                                                  <li class='active'>
                                                      <!-- name of the category -->
                                                      <div class="collapsible-header teal lighten-2" style='color: aliceblue; font-size: larger;'><i class="material-icons">cake</i>Game</div>
                                                      <div class="collapsible-body">
                                                          <form action="#" style='text-align: left;' >
                                                              <p>
                                                              <label>
                                                                  <!-- change the value to the name of each item & don't remove <span> tag -->
                                                                  <input type="checkbox" class="checkbox-activity" value='Uno'/>
                                                                  <span style=' font-size: large;'>Uno</span>
                                                                  <p>A card game for 2-10 people</p>
                                                                  <p>150 mins</p>
                                                              </label>
                                                              </p>
                                                          </form>
                                                      </div>
                                                  </li>
                                                  <li class='active'>
                                                      <div class="collapsible-header teal lighten-2" style='color: aliceblue; font-size: larger;'><i class="material-icons">ac_unit</i>Movies</div>
                                                      <div class="collapsible-body">
                                                          <form action="#" style='text-align: left;'>
                                                              <p>
                                                              <label>
                                                                  <input type="checkbox" class="checkbox-activity" value='Sinister'/>
                                                                  <span style='font-size: large;'>Sinister</span>
                                                                  <p>A horror movie</p>
                                                                  <p>109 mins</p>
                                                              </label>
                                                              </p>
                                                              <p>
                                                                  <label>
                                                                  <input type="checkbox" class="checkbox-activity" value='Red Notice'/>
                                                                  <span style='font-size: large;'>Red Notice</span>
                                                                  <p>An action/comedy movie</p>
                                                                  <p>115 mins</p>
                                                                  </label>
                                                              </p>
                                                          </form>
                                                      </div>
                                                  </li>
                                                  <li class='active'>
                                                      <div class="collapsible-header teal lighten-2" style='color: aliceblue; font-size: larger;'><i class="material-icons">whatshot</i>Others</div>
                                                      <div class="collapsible-body">
                                                          <form action="#" style='text-align: left;'>
                                                              <p>
                                                              <label>
                                                                  <input type="checkbox" class="checkbox-activity" value='Painting'/>
                                                                  <span style='font-size: large;'>Painting</span>
                                                                  <p>An activity requires active participation with paint, canvases, etc.</p>
                                                                  <p>120 mins</p>
                                                              </label>
                                                              </p>
                                                              <p>
                                                                  <label>
                                                                  <input type="checkbox" class="checkbox-activity" value='Wine Tasting'/>
                                                                  <span style='font-size: large;'>Wine Tasting</span>
                                                                  <p>Adults Only</p>
                                                                  <p>120 mins</p>
                                                                  </label>
                                                              </p>
                                                          </form>
                                                      </div>
                                                  </li>
                                              </ul>  
                                            </div>

                                          </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal" id='addActivityBtn'>Add</button>
                                            <button type="button" class="btn btn-primary" id='clear-all-activities'>Clear</button>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div></a>
                            </div>

                          </div>
                      </div>
                    <!-- Delete -->
                   <button class="btn right waves-effect waves-light" type="submit" name="action" id='submit-party'>Submit
                        <i class="material-icons right">send</i>
                    </button>
                    <!-- Submit -->
                    {{!-- <button class="btn right waves-effect waves-light" type="submit" name="action">DUMMY
                        <i class="material-icons right">DUMMY</i>
                    </button> --}}
                </form>
            </div>
        </div>
    </main>
    